* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #69c169;
  color: #fff;
  display: flex;
  justify-content: center;
}

#headerMain {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 1em;
  padding: 2em;
}

.container {
  display: flex;
  justify-content: center;
}

main {
  width: 60%;
  margin: 1em;
  padding: 2em;
  border: solid 1px #ccc;
}

main > * {
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

input {
  padding: 5px;
  font-size: 18px;
}

input[type="text"] {
  flex: 1;
  margin-right: 5px;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: solid 1px #ccc;
  /* only the last child of the list will have a bottom border */
  border-bottom: none;
}

li:last-child {
  border-bottom: solid 1px #ccc;
}

button.remove-item {
  padding: 3px;
  background-color: #69c169;
  color: #fff;
  border: none;
}

button.remove-item:hover {
  background-color: #57a157;
}

@media screen and (max-width: 750px) {
  main {
    width: 90%;
    margin: 5px;
    padding: 1em;
  }
}